<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <span>{{item.title}}</span>
    </div>
    <div class="col-xs-4 col-sm-4">
      <div class="checkbox">
        <label>
            <input type="checkbox" [attr.disabled]="item.isMarkedAsDone == true || isNotAllowed == true ? true : null" (change)="onChangeEvent()" [checked]="item.isMarkedAsDone">
            <span>{{item.isMarkedAsDone ? "Done" : "Mark as done"}}</span>
          </label>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2">
      <button type="button" class="btn btn-danger" (click)="onClickEvent()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
  </div>
</div>
