<div class="modal-header">
  <h4 class="modal-title pull-left">
    Confirmation
  </h4>
  <button type="button" class="close pull-right" (click)="hideConfirmationModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete : {{title}}</p>
</div>
<div class="modal-footer">
  <div class="text-right">
    <button type="submit" class="btn btn-success" (click)="onConfirm()">Yes</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">No</button>
  </div>
</div>
