<form>
  <div class="form-group">
    <label for="search-box">Search</label>
    <input class="form-control" placeholder="Search" #searchBox id="search-box" (keyup)="onSearch(searchBox.value)" />
  </div>
</form>

<form (submit)="addTodo()">
  <div class="form-group">
    <label for="search-box">Add New Task</label>
    <input class="form-control" placeholder="Search" type="text" name="task" [(ngModel)]="taskTitle" />
  </div>
</form>
<section *ngIf="isNotAllowed">
  <bs-sortable draggable="false" [(ngModel)]="collection" [itemTemplate]="itemTemplate" itemClass="list-group-item" itemActiveClass="sortable-item-active"
    placeholderClass="placeholderStyle" (onChange)="onChange($event)" wrapperClass="list-group">
  </bs-sortable>
</section>
<section *ngIf="!isNotAllowed" class="container-fluid">
  <ul class="list-group">
    <li *ngFor="let item of collection" class="list-group-item row">
      <todo-item [item]="item" (onClick)="showConfirmationModal($event)" (onChange)="setTaskAsDone($event)"></todo-item>
    </li>
  </ul>
</section>

<template #itemTemplate let-item="item" let-index="index">
  <todo-item [item]="item.value" (onClick)="showConfirmationModal(item.value)" (onChange)="setTaskAsDone(item.value)"></todo-item>
</template>
